.popup__name {
  padding: 0;
  margin: 0;
  margin-bottom: 43px;
  border: none;
  min-width: 100%;
  max-height: 14px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  color: #000000;
}