.profile__add-button{
  margin: 0;
  background-color: black;
  padding: 0;
  color:black;
  border: none;
  background-image: url(../../../images/AddButton.svg);
  min-width: 282px;
  min-height: 50px;
}
@media screen and (min-width: 880px) {
  .profile__add-button{
  margin-left: auto;
  background-image: url(../../../images/smallAddButton.svg);
  min-width: 150px;
  max-height: 50px;
  background-repeat:no-repeat;
  }
}