.profile__name {
  margin: 0;
  /* display: inline-block; */
  padding-bottom: 14px;
  /* шрифт */
  font-style: normal;
  font-weight: 500;
  font-size: 27px;
  line-height: 33px;
  color: #FFFFFF;
}
@media screen and (min-width:880px) {
  .profile__name {
    font-size: 42px;
    line-height: 48px;
    text-align: start;
  }
}